body {
    scroll-behavior: smooth;
    height: 100vh;
}
section {
    height: 80vh;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}

#about {
    padding-top: 55px;
}

.nav-item {
    margin-right: 15px;
}

.house {
    height: 100vh;
}

section .fas, section .fab, section .fa-solid {
    color: #000000;
    font-size: 35px;
}
  
.custom-col {
    margin-top: 25%;
}